@font-face {
    font-family: 'Lora';

    /* These can be loaded thanks to the url-loader */
    src: url('../fonts/Lora-Regular.ttf');
    src: url('../fonts/Lora-Italic.ttf');
    src: url('../fonts/Lora-Bold.ttf');
    src: url('../fonts/Lora-BoldItalic.ttf');
}

body {
    font-family: 'Lora, Helvetica, Arial' ;
    padding-top: 80px;
}